//@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
$navbar-breakpoint:0;
$family-primary: 'Quicksand';

:root {
    --background-color: #4E98BB;
    --background-secondary: white;
    --background-third: #FBFBFB;
    --background-image: url('../img/3_city_light_final.jpg');
    --box-color: white;
    --box-shadow: rgba(10,10,10,0.1);
    --box-shadow-2: rgba(10,10,10,0.2);
    --text-color: black;
}

body, html {
    font-family: 'Quicksand';
    color: var(--text-color) !important;
    background-color: var(--background-secondary) !important;
}

.splash {
    background-color: var(--background-color);
    background-image: url('../img/3_city_light_final.png');
    background-size: 60%, 25%;
    background-repeat: no-repeat, repeat;
    background-position: center bottom,0;
    width: 100%;
    color: var(--text-color) !important;
    height: 77.5vh;
    transition: 0.35s all;
    position: fixed;
}
.splash.dark {
    background-image: url('../img/2_city_final.png'), url('../img/snowcircles.png');
}
.snow {
    z-index: 199;
    width: 100%;
    height: 92vh;
}
.placeholder {
    height: 77.5vh;
}
#title-box {
    transition: 0.35s background-color;
    margin-top: 40px;
    border-radius: 20px;
    background-color: var(--box-color);
    box-shadow: 0 0.5em 1em -0.125em var(--box-shadow), 0 0px 0 1px var(--box-shadow-2);
}
.title {
    color: var(--text-color) !important;
}
.button.is-transparent{
    background: transparent;
    border: 0;
}

.a-content-wrapper {
    transition: 0.35s background-color;
    background-color: var(--background-secondary);
    width: 100%;
    z-index: 99;
    position: relative;
    margin: 0;
    overflow: none;
}
.navbar {
    width: 100%;
}
.nav-placeholder {
    height: 0vh;
//    display: none;
}
.nav-placeholder.is-shown {
    height: 9vh;
}
.navbar-menu {
    transition: 0.35s all;
    box-shadow: 0 0.5em 1em -0.125em var(--box-shadow)/*, 0 0px 0 1px var(--box-shadow-2)*/;
    background-color: var(--background-secondary) !important;
}
.navbar-dark {
    background-color: var(--background-color) !important;
}
#dropdownMenu {
    display: flex;
    flex-direction: column;
}
.line1 {
    margin-top: 4px;
}

.line1,
.line2,
.line3 {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;
    height: 3px;
    width: 30px;
    background-color: var(--text-color);
    transition: transform 0.3s ease;
    transition: 0.45s background-color;
}

#dropdownMenu.clicked > .line1 {
    transform: translateY(9px);
    transition: transform 0.3s ease;
}

#dropdownMenu.clicked > .line3 {
    transform: translateY(-11px);
    transition: transform 0.3s ease;
}
#section1,#section2,#section3,#section4{
    height: 100%;
}
.card-footer-item.button {
    color: black !important;
}
.level-link {
    color: var(--text-color);
}
.sm>.button {
    margin-left: 4.5vw;
    margin-right: 4.5vw;
    border: 0;
    width: 11vw;
    height: 11vw;
    color: var(--text-color) !important;
}
.sm>a.span {
    width: 100px;
    height: 100px;

}
.button{
    color: var(--text-color) !important;
    transition: 0.45s background-color;
}
.button:focus, button:active {
    color: var(--text-color) !important;
}
.footer {
    transition: 0.35s all;
    box-shadow: 10px 10px 5px 5px black;
    background-color: var(--background-third) !important;
}
@media screen and (max-width: 1023px){
    .navbar-menu {
        transition: 0.35s all;
        background-color:var(--background-secondary);
        box-shadow: 0 8px 16px rgba(10,10,10,.1);
        padding: .5rem 0;
    }
    .navbar-dark{
        background-color: var(--background-color) !important;
    }
    .splash {
        /*display: flex;
        flex-direction: row;*/
        background-color: var(--background-color);
        background-image: url('../img/3_city_light_final.png');
        background-size: 200%, 85%;
        background-repeat: no-repeat, repeat;
        background-position: bottom center,top left;
        width: 100%;
        color: var(--text-color) !important;
        height: 77.5vh;
        transition: 0.35s all;
        position: fixed;
    }
    .splash.dark {
        background-image: url('../img/2_city_final.png'), url('../img/snowcircles.png');
    }
}
.navbar {
    display: flex;
}
.navbar-item {
    display: flex;
    align-items: center;
}
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/layout/all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/form/all.sass";